{
    email sambungdata@gmail.com  #  for Let's Encrypt SSL
}

# Serve portfolio site
chrisimbolon.dev {
    reverse_proxy portfolio-container:80

    @noSlash path /planetwander
    redir @noSlash /planetwander/

    handle_path /planetwander/* {
        reverse_proxy planetwander_frontend:80
    }

    handle_path /api/* {
        reverse_proxy planetwander_backend:8000
    }

    handle_path /fullstack-pizza/* {
        root * /home/apps/fullstack-pizza
        file_server
    }   

    redir /fullstack-pizza /fullstack-pizza/
}

randomdots.id {
    reverse_proxy randomdots-app:3000
}

chrisimbolon.dev/taekwondo-coach {
    reverse_proxy djangotaekwondocoach-web:8000
}