{
    email sambungdata@gmail.com  #  for Let's Encrypt SSL
}

# Serve portfolio site
chrisimbolon.dev {
    reverse_proxy portfolio-container:80
}

randomdots.id {
    reverse_proxy randomdots-container:3000
}