services:
  caddy:
    image: caddy:latest
    container_name: caddy-container
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - /home/apps/fullstack-pizza:/home/apps/fullstack-pizza
    networks:
      - web_network
      - eventhub_eventhub-net
      - taekwondo-coach_taekwondo-net

volumes:
  caddy_data:
  caddy_config:

networks:
  web_network:
    external: true
  eventhub_eventhub-net:
    external: true
  taekwondo-coach_taekwondo-net:
    external: true
